<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyUniverse</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>author</param-name>
    <param-value>Yannick Thibos</param-value>
  </context-param>
  <context-param>
    <param-name>authorEmail</param-name>
    <param-value>yannick.thibos@gmail.com</param-value>
  </context-param>
  <error-page>
    <exception-type>be.yannick.dao.DAOException</exception-type>
    <location>/WEB-INF/JSP/daoexception.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/JSP/404.jsp</location>
  </error-page>
</web-app>