@CHARSET "UTF-8";

/* 

PIXELSIZES 

1em = 16px

4px = 0.25em
6 = 0.375em
8 = 0.5em
10 = 0.625em
12 = 0.75em
14 = 0.875em
18 = 1.125em
20 = 1.25em
22 = 1.375em
24 = 1.5em
32 = 2em
100 = 6.25em;

*/

/** GENERAL PAGE SETTINGS **/
body {
	font-family:			 		Verdana, Arial, sans-serif;
	
}

/** GENERAL SETTINGS FOR CLASSES AND TAGS **/
nav ul {
	list-style:						none;
}

/** SPECIFIC CLASS SETTINGS **/

/** SPECIFIC ID & ITEM SETTINGS **/
nav#mainmenu ul li {
	display: 						inline-block;
}
nav#mainmenu ul li a {
	text-decoration: 				none;
	color:							black;
	background:						silver;
}
nav#mainmenu ul li a:hover {
	color:							darkgray;
}

footer#pagefoot div {
	float:							right;
}
footer#pagefoot {
	font-size: 						0.725em;
}