@CHARSET "UTF-8";

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* 

PIXELSIZES 

1em = 16px

4px = 0.25em
6 = 0.375em
8 = 0.5em
10 = 0.625em
12 = 0.75em
14 = 0.875em
18 = 1.125em
20 = 1.25em
22 = 1.375em
24 = 1.5em
32 = 2em
100 = 6.25em;

*/

/*************** GENERAL PAGE SETTINGS **/
body {
	font-family:			 		Verdana, Arial, sans-serif;
	
}
section.content {
	width:							75%;
	margin: 						0 auto;
}
header {
	background-color: 				#58A6B0;
}
footer {
	background-color: 				#58A6B0;
}

/*************** GENERAL SETTINGS FOR CLASSES AND TAGS **/
nav ul {
	list-style:						none;
}

/*************** SPECIFIC CLASS SETTINGS **/

/*************** SPECIFIC ID & ITEM SETTINGS **/

/** MAIN NAVIGATION MENU **/
nav#mainmenu {
	overflow: 						auto;
}
nav#mainmenu ul {
	overflow: 						auto;
	float:							left;
}
nav#mainmenu ul li {
	display: 						inline-block;
}
nav#mainmenu ul li a {
	text-decoration: 				none;
	color:							black;
	background:						silver;
	
	padding:						5px 10px;
}
nav#mainmenu ul li a:hover {
	color:							white;
}
nav#mainmenu ul #logoutform {
	
	float:							right;
}


/** PAGE FOOTER **/
footer#pagefoot div {
	float:							right;
}
footer#pagefoot {
	font-size: 						0.725em;
}